

/*-------------------------
	Dropbox Element
--------------------------*/

#dropbox:before{
	display: block;
	content:'';
	height:4px;
	width:100%;
	background:url('img/blue_line.jpg');
	position: absolute;
	top:0;
	left:0;
	box-shadow:0 2px 2px rgba(0,0,0,0.4);
}


#dropbox{	
	border-radius:3px;
	position: relative;
	margin: 0.1em auto;
	min-height: 290px;
	overflow: hidden;
	padding-bottom: 40px;
    width: 100%;
	height: 100%;
	
	box-shadow:0 0 4px rgba(0,0,0,0.3) inset,0 -3px 2px rgba(0,0,0,0.1);
}


#dropbox .message{
	font-size: 1em;
    text-align: center;
    padding-top:10px;
	padding-left: 10px;
    display: block;
	position: absolute;
	text-align: left;
	width: 100%;
}

#dropbox .message i{
	color:#ccc;
}

#dropbox:before{
	border-radius:3px 3px 0 0;
}



/*-------------------------
	Image Previews
--------------------------*/



#dropbox .preview{
	float:left;
	margin: 2.5em 1em 0;
	position: relative;
	text-align: center;
	cursor: pointer;
	max-width: 250px;
}

#dropbox .preview img{
	display: block;
	min-width: 120px;
	max-width: 93%;
}

#dropbox .preview img.loaded {
	border:6px solid #AEC5ED;
}

#dropbox .preview .imageHolder {
	border: 12px solid transparent;
	cursor: pointer;
}

#dropbox .preview.selected .imageHolder  {
	border: 12px solid #D2DFF5;
}

#dropbox .imageHolder{
	display: inline-block;
	position:relative;
}

#dropbox .uploaded {
	position: absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background: url('img/done.png') no-repeat top right rgba(255,255,255,0.5);
	display: none;
}

#dropbox.deleteItems .uploaded {
	background: url('img/delete.png') no-repeat top right rgba(255,255,255,0.5) !important;
}

#dropbox .preview.done .uploaded{
	display: block;
}



/*-------------------------
	Progress Bars
--------------------------*/



#dropbox .progressHolder{
	position: absolute;
	height:12px;
	width:100%;
	left:0;
	bottom: 0;
}

#dropbox .progress{
	background-color:#2586d0;
	position: absolute;
	height:100%;
	left:0;
	width:0;
	
	box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset;
	
	-moz-transition:0.25s;
	-webkit-transition:0.25s;
	-o-transition:0.25s;
	transition:0.25s;
}

#dropbox .preview.done .progress{
	width:100% !important;
}

#dropbox .preview:hover .uploaded{
	background: url('img/done.png') no-repeat top right rgba(255,255,255,0.1);
}

#dropbox.deleteItems .preview:hover .uploaded{
	background: url('img/delete.png') no-repeat top right rgba(255,255,255,0.1) !important;
}

#dropbox .lazy {
	display: none;
}

.disabled {
	opacity: 0.5;
}